{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "OrbitMesh": {
    "packagesRootDirectory": "packages",
    "listenUrls": [
      "http://+:8088"
    ],
    "fileServers": [
      {
        "enable": true,
        "localhostOnly": false,
        "path": "/console-next",
        "physicalPath": "../../orbitmesh-console",
        "updateProjectSlug": null,
        "preserveFiles": [],
        "isSpa": true
      }
    ],
    "allowedOrigins": [],
    "recoveryOptions": {
      "restartAfterFailure": true,
      "numberOfRetry": 3,
      "resetCounterAfterMinutes": 15,
      "restartPackageAfterSeconds": 30
    },
    "credentials": [],
    "edges": [],
    "variables": [],
    "updateOptions": {
      "serverUrl": "https://updates.orbitmesh.org",
      "projectSlug": "orbitmesh-server",
      "token": null,
      "checkIntervalMinutes": 5,
      "publicKeys": [ "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqNU78UjlPKzWjCHkllAI\nBimgx61ipo7mfb3ytLXd0sZZ9qTNs0IZBDsNY+Nm/tXAQvO0otEslMavj+sCUN6E\nt58wMRVVvqb29QVBQ5JlKkBQzeJTTM3tFADdbbJBq0Aer+wDo79ahTvojkaE8oTn\nlqT8A+YrUoO0cCu6AH9fOflg51v5jhkJTBNre2W1T2nFXgJ0WWRgMgjY6N7MZ56F\n+zwGn7fRPpMx/G7izvVtJ8HMBZjHNxFdXIB1ieVlRAxnm7k5hmziQ1hzTw0N1re0\naoAdc/x4FsYwqG2eaJuBtboAOVG3X8Q8zKimx3bdZEpMIxAAZ/KJpX0GXEygQbqJ\n6QIDAQAB\n-----END PUBLIC KEY-----" ],
      "serviceOrUnitName": null,
      "updaterExecutablePath": null
    },
    "nuGetFeeds": [
      { "name": "OrbitMesh", "serviceIndexUrl": "https://nuget.orbitmesh.org/feeds/OrbitMesh/v3/index.json", "enable": true }
    ]
  }
}
